<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        h1 { 
            text-align: left;
            margin-right: 100px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th {
            padding: 8px;
            text-align: left;
        }
        td  {
            word-wrap: break-word;
            max-width: 200px; 
            padding: 1px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
        .tablo {
            max-width: 1900px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ddd;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow-x: auto;
            background-color: white;
            text-align: center;
            font-family: Arial, sans-serif;
            color: #333;
            font-size: 16px;
            line-height: 24px;
            border-radius: 10px;
            margin-bottom: 20px;
            margin-top: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
            border-collapse: collapse;
            border-spacing: 0;
            display: flex;
        }
    </style>
</head>
<body>
<div class="tablo">
    <h1>Kayıtlıların Log'u</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Zaman</th>
            </tr>
        </thead>
        <tbody>
            <% logs.forEach(logs => { %>
                <tr>
                    <td><%= logs.name %></td>
                    <td><%= logs.time %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <h1>Log</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Zaman</th>
            </tr>
        </thead>
        <tbody>
            <% log.forEach(log => { %>
                <tr>
                    <td><%= log.id %></td>
                    <td><%= log.time %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <h1>Doğrula</h1>
    <form action="/verified" method="POST">
      <label for="id">id:</label>
      <input type="text" id="id" name="id" required>
      <br>
      <label for="email">email:</label>
      <input type="email" id="email" name="email" required>
      <br>
      <label for="name">isim:</label>
      <input type="name" id="name" name="name" required>
      <br>
      <button type="submit">Doğrula</button>
    </form>
</div>
</body>
</html>
